<!--  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
      * * * * The content below is only a placeholder and can be replaced.  * * * * -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!--  * * * * * * * * * * End of Placeholder * * * * * * * * * * * 
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--
      working environment 
      * * * * * * * * * *

      - Components   =>   gif
                          stickers
                          search
                          navbar
                          
      - services     =>   service
                          stickersservice

      - class        =>   giphys
      



-->